.ws-section-about {
  align-items: center;
  color: #e2e8f0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 2rem 4rem 2rem;
  text-align: center;
  width: 100%;
}

.ws-section-about-content {
  flex: 1 1 0;
}

.ws-section-about-content a {
  display: inline-block;
  background-color: #0f131a;
  border: 1px solid #e2e8f0;
  font-size: 1.125rem;
  margin-bottom: 4rem;
  padding: 0.75rem 1rem;
}

.ws-section-about-content a:hover {
  background-color: #e2e8f0;
  color: #000;
  transition: all 0.2s ease;
}

.ws-section-about-content h1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.ws-section-about-content p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.ws-section-about-image {
  display: block;
  padding: 0 2rem;
}

.ws-section-about-image img {
  border: 0 solid;
  border-radius: 9999px;
  height: auto;
  max-width: 100%;
  width: 16rem;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.ws-section-about-image img:hover {
  opacity: 0.75;
}

@media (min-width: 768px) {

  .ws-section-about {
    padding: 8rem 2rem 12rem 2rem;
  }

}

@media (min-width: 1024px) {

  .ws-section-about {
    flex-direction: row;
    max-width: 1024px;
    text-align: left;
  }

  .ws-section-about-content a {
    margin-bottom: 0;
  }

  .ws-section-about-image {
    padding: 0 0 0 8rem;
  }

}

@media (min-width: 1280px) {

  .ws-section-about {
    padding: 8rem 0 12rem 0;
  }

}
