.ws-section-blog {
  align-items: center;
  background-color: #fff;
  color: #535353;
  display: flex;
  flex-direction: column;
  grid-area: blog;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
  width: 100%;
}

.ws-section-blog > a {
  background-color: transparent;
  border: 2px solid #296161;
  border-radius: 9999px;
  color: #296161;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.025rem;
  line-height: 1.15em;
  margin-top: 2rem;
  outline: none;
  padding: 1rem;
  width: 180px;
}

.ws-section-blog > a:hover {
  background-color: #296161;
  color: #fff;
  transition: all 0.2s ease;
}

.ws-section-blog h2 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.ws-section-blog > p {
  font-size: 1.25rem;
  max-width: 48rem;
  margin-bottom: 4rem;
}

.ws-section-blog-card {
  background-color: #f8f6f5;
  border: 1px solid #dedede;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto 1.5rem;
  max-width: 1024px;
  overflow: hidden;
}

.ws-section-blog-card-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  display: block;
  height: 16rem;
  position: relative;
  width: 100%;
}

.ws-section-blog-card-image svg {
  bottom: 0;
  display: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 4rem;
  z-index: 30;
}

.ws-section-blog-card-image-overlay {
  background: rgba(253, 193, 66, 0.7);
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.ws-section-blog-card-text {
  color: #575352;
  line-height: 1.5;
  padding: 2rem 1rem;
  text-align: left;
  width: 100%;
}

.ws-section-blog-card-text a {
  color: #535353;
  font-weight: 600;
  margin-top: 2rem;
}

.ws-section-blog-card-text a:hover {
  color: #235353;
}

.ws-section-blog-card-text p {
  margin-bottom: 2rem;
}

.ws-section-blog-container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
}

@media (min-width: 768px) {

  .ws-section-blog-card {
    flex-direction: row;
    margin: 0 0 1.5rem 0;
    max-width: 100%;
  }

  .ws-section-blog-card-image {
    height: auto;
    width: 50%;
  }

  .ws-section-blog-card-image svg {
    display: block;
  }

  .ws-section-blog-card-text {
    width: 50%;
  }

}

@media (min-width: 1024px) {

  .ws-section-blog-card-image {
    height: auto;
    width: 33.33333%;
  }

}
