.ws-section-services {
  align-items: center;
  background-color: #dadada;
  color: #535353;
  display: flex;
  flex-direction: column;
  grid-area: services;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
  width: 100%;
}

.ws-section-services-card {
  background-color: #fff;
  border: 0 solid;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
  display: flex;
  margin: 1rem 0 0 0;
  overflow: hidden;
}

.ws-section-services-card:last-child {
  margin-right: 0;
}

.ws-section-services-card:hover {
  transform: scale(1.03);
  transition-duration: 0.1s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

.ws-section-services-card svg {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin-right: 1rem;
  width: 6rem;
}

.ws-section-services-card .ws-section-services-card-description {
  padding: 1rem 1rem 1rem 0;
}

.ws-section-services-card .ws-section-services-card-description h2 {
  color: #535353;
  font-size: 1.25rem;
  font-weight: 700;
  min-height: 60px;
  text-align: left;
}

.ws-section-services-card .ws-section-services-card-description p {
  color: #535353;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0.75rem;
  text-align: left;
}

.ws-section-services h2 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.ws-section-services p {
  font-size: 1.25rem;
  max-width: 48rem;
  margin-bottom: 2rem;
}

.ws-section-services-container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
}

@media (min-width: 768px) {

  .ws-section-services-card {
    margin: 1rem 1rem 0 0;
    width: 50%;
  }

  .ws-section-services-container {
    flex-direction: row;
  }

}

@media (min-width: 1024px) {

  .ws-section-services-card {
    width: 33.3333%;
  }

}
