.ws-social-icon {
  align-items: center;
  background-color: #fff;
  border-radius: 999px;
  box-shadow: inherit;
  display: flex;
  flex-direction: column;
  fill: #575352;
  justify-content: center;
  height: 32px;
  margin: 0 5px 0 0;
  width: 32px;
}

.ws-social-icon:hover {
  transition: all 0.2s ease;
  transform: translateY(-2px);
}
