header {
    text-align: center;
    background-color: #a1dada;
    justify-items: center;
    height: 100%;
}

.section1 {
    text-align: left;
    min-width: 50%;
    margin: 2;
}

.section2 {
    max-width: 512px;
    border: 0 solid #000000;
  border-radius: 9999px;

}

.sec-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.top-header {
    display: inline-flex;
    padding: 30px;
    flex-direction: row;
    align-items: center;
  }

  .navigation {
      margin: 20px;
  }



#profile-picture {
    max-width: 70%;
}

#logo {
    max-width: 50px;
}

