header {
    text-align: center;
    background-color: #00FFE3;
    display: block;
    justify-items: center;
    height: 600px;
}

.section1 {
    /* background-color: #184da8; */
  /* border: 1px solid #e2e8f0; */
    text-align: left;
    min-width: 400px;
    margin: 2;



}
.section2 {
    align-items: right;
    max-width: 512px;
    border: 0 solid #000000;
  border-radius: 9999px;

}

.top-header {
    display: inline-flex;
    padding: 30px;
    /* border: 1px solid #ffffff; */
    /*justify-items: center; */
    flex-direction: row;
    align-items: center;
    width: 1000px;
    /* background-color: aliceblue; */
    /* justify-content: space-around; */
  }

  .navigation {
      margin: 20px;
  }



#profile-picture {
    max-width: 70%;
}

#logo {
    max-width: 50px;
}

