.container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, 10px, 10px, 1fr));
    width: 80%;
   /* grid-template-columns: 500px 150px; */
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 50px;
    justify-content: space-evenly;
}
.container1 {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, 10px, 10px, 1fr));
    width: 80%;
    grid-template-columns: 500px 150px;
     /*  grid-template-rows: 100px 100px 100px 100px 100px; */
    grid-gap: 50px;
    justify-content: space-evenly;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px red;
    padding: 15px;

}
.box {
    display: flex;
    align-items: center;
    justify-content: right;
    border: 1px red;
    padding: 15px;

}
.sec-container2 {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    justify-content: normal;
    align-items: center;
    background-color: aliceblue;
    justify-content: space-between;
    }