.container3 {
    display: flex;
 /*   grid-template-columns: 750px 1fr;
    grid-gap: 150px; */
    margin: 20px;
} 

.box-about {
    margin: 20px;
}

#two {
    text-align: center;
}

.box-post {
margin: 20px;
text-align: left;
margin-left: 250px;
margin-right: 100px;

}

.fig {
    margin: 1px;
}

#image {
    width: 800px;
    height: 400px;
}

#image {
    width: 800px;
    height: 800px;
}

figure {
    width: 90%;
    text-align: center;
  }

  .follow-link {
    display: flex;
    list-style-type: none;
  }