.container {
  border: 1px solid black;
  display: grid;
   /*  grid-gap: 20px;
 grid-template-rows: repeat(auto-fit, minmax(20px, 10px, 10px, 1fr));
        grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 50px; */
  grid-template-areas:
    "top top"
    "bottomLeft buttomRight";
    margin: 20px;

  /* grid-template-columns: 500px 150px; */
}

.header2 {
    text-align: center;
    background-color: #00FFE3;
    display: block;
    justify-items: center;
    height: 350px;
}

.advert {
    border: 3px solid yellowgreen;
    height: 100px;
    text-align: center;
    margin: 20px;
}

#sect1 {
    display: inline;
    text-align: center;
}

.container1 {
  display: inline;
  /* grid-template-rows: repeat(auto-fit, minmax(20px, 10px, 10px, 1fr)); */
  justify-content: center;
  /* grid-template-columns: 500px 150px; 
     grid-template-rows: 100px 100px 100px 100px 100px; 
    grid-gap: 50px;
    justify-content: space-evenly;*/
}

.container2 {
  width: 100%;
  border: 3px solid green;

}

.box1 {
  justify-content: center;
  border: 1px solid red;
  padding: 15px;
  text-align: center;
}
.box {
  justify-content: right;
  border: 1px solid blueviolet;
  padding: 15px;
}
.sec-container2 {
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: px;
}
